@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "eurostile";
  src: url("/fonts/eurostile-cufonfonts-webfont/eurostile.woff");
}

@font-face {
  font-family: "Patrick Hand";
  src: url("/fonts/Patrick_Hand/PatrickHand-Regular.ttf");
}
@font-face {
  font-family: "quickpen";
  src: url("/fonts/quick-pen/Trial\ by\ Cupcakes\ -\ Quickpen.otf");
}
.home-title {
  font-family: eurostile, sans-serif;
  font-weight: 800;
  line-height: 1.125;
  color: #141c3a;
}
